@font-face {
	font-family: Trench;
	src: url('trench100free.otf');
}

body {
	font-family: Trench, sans-serif;
	font-size: 18pt;
}

.group, .radiobuttonGroup {
	border: 1px dashed #666666;
	display: inline-block;
}

.subgroup {
	margin: 10px 10px 20px 10px;
}

.groupHeader {
	padding-bottom: 5px;
	text-transform: uppercase;
	font-weight: bold;
}

.groupItem {
	padding: 2px 5px 2px 5px;
	border: 1px solid black;
	border-radius: 5px;
}

.groupItem:hover {
	cursor: pointer;
	background-color: #cccccc;
}

.selected {
	background-color: #aaaaaa;
}

