body{
	font-family:"Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	background-color: #eeeeee;
}

h1,h2,h3,h4,h5,h6{
	font-family:"Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	font-weight:700;
	font-style:normal;
	color:#262626;
	text-rendering:optimizeLegibility;
	margin-top:2em;
	margin-bottom:.5em;
	line-height:1.0625em
}

strong{
	color:#262626;
}

#content{
	background-color: #fff;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

a:link, a:visited, a:hover, a:active {
    color: #262626;
}